/* UTILITIES
------------------------------------*/

.wrapper {
  max-inline-size: 850px;
  inline-size: 85%;
  margin: 0 auto;
}
.reset-visibility {
  opacity: 0;
  height: 0 !important;
  visibility: hidden !important;
  @include transition-ease;
}
.reset-dimensions {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  @include transition-ease;
  transition-delay: 1s;
}

/*-----------------------------------*/

.App {
  .header {
    position: fixed;
    top: 0;
    inline-size: 100%;
    background-color: $red;
    font-size: calc(10px + 2vmin);
    padding: 1em;
    color: $white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: drop-shadow(0 5px 5px $black);
    z-index: 2;
    &__container {
      display: grid;
      grid-template-columns: repeat(6, minmax(auto, 1fr));
      margin-block-end: 1em;
      border-block-end: 1px solid;
      padding-block-end: 1em;
      @include transition-ease;
    }
    &__left {
      a {
        display: flex;
        height: 100%;
      }
    }
    &__right {
      position: relative;
      grid-column: 3/-1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__logo img {
      max-inline-size: 100%;
      min-block-size: 100%;
    }

    &__cat {
      display: flex;
    }

    @media screen and (min-width: 1100px) {
      &__container {
        grid-template-columns: repeat(6, minmax(auto, 100px)) !important;
      }
      &__right {
        grid-column: 7/8 !important;
        justify-content: space-between !important;
        ul {
          block-size: 100% !important;
        }
      }
    }
  }

  /* SWIPER JS STYLE
------------------------------------*/
  // rgb(149, 35, 35) red
  // rgb(81, 144, 81) green

  .cardWrapper {
    background: linear-gradient(40deg, rgba($red, 0.3), rgba($green, 0.4));
    margin-block-start: 10px;
    margin-block-end: 10px;
    padding-block-start: 1.5em;
  }

  .swiperFullSc {
    position: relative;
    inline-size: 100%;
    height: 200px;
    .swiper-slide {
      width: 100%;
      height: 100%;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      inline-size: 60%;
      font-size: $fs-card;
      padding: 1em;
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 2px;
      color: $white;
      background: rgba($color: $red, $alpha: 0.4);
      z-index: 10;
      transform: translate(-50%, -50%);
    }
    .swiper-pagination-bullet-active {
      background: $green;
    }
  }

  /* GRID CARD
------------------------------------*/
  .products {
    inline-size: 100%;
    padding-block-start: 1em;
    padding-block-end: 1em;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__card {
      background: $white;
      position: relative;
      flex: 0 0 200px;
      margin-block-start: 0.5em;
      padding-block-end: 0.5em;
      display: grid;
      justify-items: center;
      gap: 0.8em;
      box-shadow: 0 0 5px;
      @include transition-ease;
      &:hover {
        cursor: pointer;
        transform: scale(1.1) translateY(-1em);
        box-shadow: 3px 5px 5px 1px;
      }
    }
    &__img {
      height: 120px;
      overflow: hidden;
      img {
        @include transition-ease;
        width: 100%;
        height: 100%;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    &__text {
      width: 90%;
      display: grid;
      gap: 0.3em;
      p {
        color: darken($body-bg, 40%);
        font-size: $fs-card;
      }
    }
    &__btn {
      font-size: $fs-card;
      > button {
        outline: none;
        border: none;
        margin-block-start: 5px;
        padding: 0.35em;
        padding-inline-start: 0.5em;
        padding-inline-end: 0.5em;
        background-color: darken($body-bg, 10%);
        color: lighten($red, 20%);
        cursor: pointer;
      }
    }
  }

  /* CARD SLIDER
------------------------------------*/
  .swiperCard {
    font-size: $fs-card;
    padding-block-start: 30px;
    padding-block-end: 30px;
    background: transparent;
    .swiper-slide {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: 65% 7% 10%;
      place-items: center;
      gap: 0.8em;
      background: $white;
      inline-size: 50%;
      block-size: calc(150px + 10vw);
      img {
        display: block;
        inline-size: 100%;
        block-size: 100%;
      }
      .btn {
        align-self: flex-start;
        outline: none;
        border: none;
        border-radius: 3px;
        margin-block-start: 5px;
        padding: 0.35em;
        padding-inline-start: 0.5em;
        padding-inline-end: 0.5em;
        background-color: darken($body-bg, 10%);
        color: lighten($red, 20%);
        cursor: pointer;
      }
    }
  }

  /* ABOUT
------------------------------------*/
  .about {
    &__wrapper {
      @extend .wrapper;
      display: grid;
      grid-auto-flow: row;
      justify-content: center;
      align-items: center;
      padding-block-start: 2rem;
      padding-block-end: 2rem;
      gap: 1rem;
    }
    &__img {
      max-inline-size: 40%;
      justify-self: center;
    }
    &__info {
      color: lighten($green, 10%);
      line-height: 1.5;
      text-align: justify;
      text-align-last: center;
    }
  }

  /* CONTACT
------------------------------------*/
  .contact {
    &__wrapper {
      @extend .wrapper;
      display: grid;
      justify-items: center;
      gap: 1em;
      margin: 2em auto 2em;
      color: lighten($green, 10%);
      h2 {
        background-image: linear-gradient(90deg, lighten($red, 20%), $green);
        background-clip: text;
        color: transparent;
        letter-spacing: 0.075em;
        font-weight: 900;
      }
      p {
        line-height: 1.5;
        text-align: justify;
        text-align-last: center;
      }
    }
  }

  /* FOOTER
------------------------------------*/
  .footer {
    display: grid;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
    background: $red;
    color: rgba($white, 0.6);
    p {
      text-align: center;
    }
  }
}

@include clear;
